body {
    margin: 0px;
}

#versioninfo {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;
}

h2 {
    margin-top: 0px;
}

#details {
    color: #aaa;
    text-align: justify;
}

#details h2 {
    color: #fff;
    text-align: left;
}

#details h3 {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 10px;
    color: #ddd;
    text-align: center;
}

#details strong {
    color: #fff;
}

.collapsed {
    display: none;
}

.clicktouncollapse {
    font-style: italic;
    color: #aaa;
    cursor:pointer;
}

.clicktouncollapse::before {
    content: "\229E";  /* squared plus &#x229E */
    font-style: normal;
    font-size: 50%;
    padding-right: 10px;
    vertical-align: middle;
    color: #aaa;
}

.clicktocollapse {
    font-style: normal;
    cursor:pointer;
}

.clicktocollapse::before {
    content: "\229F ";  /* squared minus &#8863 or &#x229F */
    font-style: normal;
    font-size: 50%;
    padding-right: 10px;
    vertical-align: middle;
    color: #aaa;
}

/* grid layout assignment */
header {
    grid-area: title;
}

#cluesbox {
    grid-area: clues;
}

#suspectsbox {
    grid-area: suspects;
}

#details {
    grid-area: details;
}

#infosbox {
    grid-area: infos;
}

/* mobile layout */
#wrapper {
    grid-template-columns: 100%;
    grid-template-areas:
    "title"
    "clues"
    "suspects"
    "details"
    "infos";
    border-radius: 0px;
}

@media only screen and (min-width: 900px)  {
    #wrapper {
        grid-template-columns: 30% auto;
        grid-template-rows: auto minmax(min-content, 10px) auto auto;
        grid-template-areas:
        "title title"
        "clues suspects"
        "details suspects"
        "infos infos";
        border-radius: 5px;
    }

    body {
        margin: 10px;
    }
}
